<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.mem.mapper.MemMapper">

	<!-- ▶ 회원가입 -->
	<insert id="memberJoin" parameterType="com.goguma.mem.vo.MemVO">
		INSERT INTO MEM
		(USER_ID,
		USER_SE, USER_PW, USER_NM, NICK_NM, ADDR,
		DEAL_AREA, MBL_TELNO,
		BANK_NM, ACT_NO, JOIN_YMD, USER_STTS)
		VALUES(#{userId}, #{userSe},
		#{userPw}, #{userNm},
		#{nickNm}, #{addr},
		#{dealArea}, #{mblTelno},
		#{bankNm}, #{actNo}, SYSDATE,
		#{userStts})
	</insert>

	<!-- ▶ 아이디 중복 확인 -->
	<select id="isIdCheck" resultType="int" parameterType="String">
		SELECT
		COUNT(USER_ID)
		FROM MEM
		WHERE USER_ID = #{userId}
	</select>

	<!-- ▶ 닉네임 중복 확인 -->
	<select id="isNickNmCheck" resultType="int"
		parameterType="String">
		SELECT COUNT(NICK_NM)
		FROM MEM
		WHERE NICK_NM = #{nickNm}
	</select>

	<!-- ▶ 유저 한 명 정보 전체 조회 -->
	<select id="selectUser" parameterType="com.goguma.mem.vo.MemVO"
		resultType="com.goguma.mem.vo.MemVO">
		SELECT * FROM MEM
		WHERE USER_ID = #{userId}
	</select>

</mapper>