<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.rsvt.mapper.RsvtMapper">

	<!-- 전체조회 -->
	<!-- <select id="getBizList" parameterType="String" resultType="BizMemVO">
		단골 수
		<selectKey keyProperty="dangolCnt" resultType="Integer" order="BEFORE">
			select count(*)
			from biz_dangol
		</selectKey>
		select atch_id, 
		biz_nm,
		biz_addr,
		cn,
		단골수,
		후기수,
		ctgry
		from biz_mem;
	</select> -->
	
	
</mapper>