<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<body>

<div layout:fragment="content">

<!-- Body main wrapper start -->
    <div class="wrapper">
    
		<!-- shop페이지 사이드메뉴 -->
        <!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumbs-section plr-200 mb-80 section">
            <div class="breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumbs-inner">
                                <h1 class="breadcrumbs-title">가게 홍보는 역시 고구마켓</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper section">

            <!-- SHOP SECTION START -->
            <div class="shop-section mb-80">
                <div class="container">
                    <div class="row">
                        <!-- 왼쪽 목록 -->
                        <div class="col-lg-3">
                            <aside class="widget widget-categories box-shadow mb-30">
                                <h6 class="widget-title border-left">커피 맛을 조금 아는 남자</h6>
                                <hr>
                                <div id="cat-treeview" class="product-cat">
                                    <ul>
                                        <li class="closed"><a href="#">비즈프로필 홈</a>
                                            <ul>
                                                <li><a href="#">정보 등록</a></li>
                                                <li><a href="#">정보 수정</a></li>
                                            </ul>
                                        </li>
                                        <li class="closed"><a href="#">소식</a>
                                            <ul>
                                                <li><a href="#">소식 목록</a></li>
                                                <li><a href="#">소식 작성</a></li>
                                            </ul>
                                        </li>
                                        <li class="closed"><a href="#">쿠폰</a></li>
                                        <li class="closed"><a href="#">후기</a></li>
                                        <li class="closed"><a href="#">단골관리</a></li>
                                        <li class="closed"><a href="#">사업자 인증</a></li>
                                        <li class="closed"><a href="#">예약관리</a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>

                        <!--오른쪽 내용쪽-->
                        <div class="col-lg-9">
                           <div layout:fragment="bizContent"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- SHOP SECTION END -->
        </section>
        <!-- End page content -->

    </div>
    <!-- Body main wrapper end -->

</div>

</body>


</html>