<!-- 올라가라 -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>중고거래상품등록</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<style>
		@font-face {
			font-family: 'S-CoreDream-3Light';
			src:
				url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}

		* {
			font-family: 'S-CoreDream-3Light';
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.6.3.js"
		integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

</head>

<body>
	<div layout:fragment="content">

		<!-- Body main wrapper start -->
		<div class="wrapper">
			<!-- Start page content -->
			<section id="page-content" class="page-wrapper section">

				<!-- MESSAGE BOX SECTION START -->
				<div class="message-box-section mb-80">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="message-box box-shadow white-bg">
									<!-- <form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php"> -->
									<form id="frm" action="dealformsubmit" method="post" enctype="multipart/form-data">
										<div class="row">
											<div class="col-lg-12">
												<h4 class="blog-section-title border-left mb-30">중고거래상품등록</h4>
											</div>
										</div>
										<span id='View_area'>
											<div class="mega-menu-photo f-left">
												<a href="#"> <img src="img/mega-menu/1.jpg" alt="mega menu image">
												</a>
											</div>
											
										</span>
										<div class="col-lg-10">
											<input type="text" name="dlTtl" id="dlTtl" placeholder="상품제목">
										</div>
										<div class="col-lg-10">
											<textarea class="custom-textarea" name="dlCn" id="dlCn"
												placeholder="상품설명"></textarea>
										</div>
										<div class="col-lg-10">
											<input type="text" name="ctgry" id="ctgry" placeholder="카테고리">
										</div>
										<!--   <div class="col-lg-10">
                                            <input type="text" name="dlNo" id="dlNo" placeholder="나눔하기 : 카테고리의 공통코드사용">
                                        </div> -->
										<div class="col-lg-10">
											<input type="text" name="dlPrc" id="dlPrc" placeholder="가격">
										</div>
										<div class="col-lg-10">
											<input type="text" name="area" id="area" placeholder="직거래장소">
										</div>
										<div class="col-lg-10">
											<input type="text" name="negoYn" id="negoYn" placeholder="네고여부">
										</div>
										<div class="col-lg-10">
											<input type="file" name="file" id="file" placeholder="첨부파일"
												onchange="previewImage(this,'View_area')">
										</div>
										<div class='uploadResult'>
											<ul>
											
											</ul>
										</div>
										<button class="submit-btn-1 mt-30 btn-hover-1" type="submit">등록하기</button>
									</form>
								</div>
								<p class="form-message"></p>
								<!-- </form> -->
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- MESSAGE BOX SECTION END -->
		<!-- End page content -->
		
		<script th:inline="javascript">
			// 썸네일 미리보기 함수 previewImage()
			// 	$(function(){
			function previewImage(targetObj, View_area) {
				var fileArr;
				var fileInfoArr = [];

				var files = targetObj.files;
				fileArr = Array.prototype.slice.call(files);

				var preview = document.getElementById(View_area); //div id
				var ua = window.navigator.userAgent;

				//ie일때(IE8 이하에서만 작동)
				if (ua.indexOf("MSIE") > -1) {
					targetObj.select();
					try {
						var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
						var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


						if (ie_preview_error) {
							preview.removeChild(ie_preview_error); //error가 있으면 delete
						}

						var img = document.getElementById(View_area); //이미지가 뿌려질 곳

						//이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
						img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + src +
							"', sizingMethod='scale')";
					} catch (e) {
						if (!document.getElementById("ie_preview_error_" + View_area)) {
							var info = document.createElement("<p>");
							info.id = "ie_preview_error_" + View_area;
							info.innerHTML = e.name;
							preview.insertBefore(info, null);
						}
					}
					//ie가 아닐때(크롬, 사파리, FF)
				} else {
					var files = targetObj.files;
					for (var i = 0; i < files.length; i++) {
						var file = files[i];
						fileInfoArr.push(file);

						var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
						if (!file.type.match(imageType))
							continue;
						// var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
						// if (prevImg) {
						//     preview.removeChild(prevImg);
						// }

						var span = document.createElement('span');
						span.id = "img_id_" + i;
						span.style.width = '100px';
						span.style.height = '100px';
						preview.appendChild(span);

						var img = document.createElement("img");
						img.className = "addImg";
						img.classList.add("obj");
						img.file = file;
						img.style.width = 'inherit';
						img.style.height = 'inherit';
						img.style.cursor = 'pointer';
						const idx = i;
						img.onclick = () => fileRemove(idx); //이미지를 클릭했을 때.
						span.appendChild(img);

						if (window.FileReader) { // FireFox, Chrome, Opera 확인.
							var reader = new FileReader();
							reader.onloadend = (function (aImg) {
								return function (e) {
									aImg.src = e.target.result;
								};
							})(img);
							reader.readAsDataURL(file);
						} else { // safari is not supported FileReader
							//alert('not supported FileReader');
							if (!document.getElementById("sfr_preview_error_" +
									View_area)) {
								var info = document.createElement("p");
								info.id = "sfr_preview_error_" + View_area;
								info.innerHTML = "not supported FileReader";
								preview.insertBefore(info, null);
							}
						}
					}
				}
			}

			// 		})

			// 서버로 데이터 전송할 ajax 코드
			/* $(function(){
				
			}) */
		</script>
	</div>
	<!-- Placed JS at the end of the document so the pages load faster -->

	<!-- jquery latest version -->
	<script src="js/vendor/jquery-3.6.0.min.js"></script>
	<script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
	<!-- Bootstrap framework js -->
	<script src="js/bootstrap.bundle.min.js"></script>
	<!-- jquery.nivo.slider js -->
	<script src="lib/js/jquery.nivo.slider.js"></script>
	<!-- All js plugins included in this file. -->
	<script src="js/plugins.js"></script>
	<!-- ajax-mail js -->
	<script src="js/ajax-mail.js"></script>
	<!-- Main js file that contents all jQuery plugins activation. -->
	<script src="js/main.js"></script>


</body>

</html>