<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<!-- 관리자 페이지 -->
<!-- Bootstrap core JavaScript-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

<!-- Modernizr JS -->
<script src="js/vendor/modernizr-3.11.2.min.js"></script>

<!-- 관리자 페이지 -->

</head>
<body>
	<div layout:fragment="content">
		<div class="wrapper">
			<!-- Start page content -->
			<div id="page-content" class="page-wrapper section"></div>
			<!-- SECTION START -->
			<div class="shop-section mb-80">
				<div class="container">
					<div class="row">
						<!-- ▶ 컨텐츠 적는 공간!-->
						<div class="col-lg-9 order-lg-2 order-1">
							<div layout:fragment="ManageContent"></div>
						</div>
						<div class="col-lg-3 order-lg-1 order-2">
							<!-- ▶ 사이드바입니다 -->
							<aside class="widget widget-categories pt-0">
								<h6 class="widget-title border-left mt-30">
									<a href="manageMain">관리자 페이지</a>
								</h6>
								<div id="cat-treeview" class="product-cat">
									<ul>
										<li class="open"><a href="manageMain">관리자 메인</a></li>
										<li class="closed"><a href="#">회원관리</a>
											<ul>
												<li><a href="memberManage">회원정보 관리</a></li>
												<li><a href="boardManage">게시글 관리</a></li>
											</ul></li>

										<li class="open" a href="reportManage"><a href="reportManage">신고관리</a>
											<ul>
											</ul></li>

										<li class="open"><a href="#">문의 관리</a>
											<ul>

											</ul></li>

									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>