<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">
<head>
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
ul {
	list-style: none;
}

li {
	float: left;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<!-- Start page content -->
		<section id="page-content" class="page-wrapper section">

			<!-- BY BRAND SECTION START-->
			<div class="by-brand-section mb-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-title text-start mb-40">
								<h2 class="uppercase mt-15">MY TOWN LIFE</h2>
								<h6>너의 동네를 나에게 소개 시켜줘 !</h6>
								<hr>
								<div class="newsletter-section gray-bg pt-60 pb-80 mt-80">
									<div class="container">
										<div class="row">
											<div class="col-lg-8 offset-lg-2">
												<div class="newsletter">
													<div class="newsletter-info text-center">
														<h2 class="newsletter-title">My TOWN</h2>
														<p>Introduce me to your town.</p>
													</div>
													<div class="subcribe clearfix">
														<form action="#">
															<input type="text" name="email"
																placeholder="Enter your town here..." />
															<button class="submit-btn-2 btn-hover-2" type="submit">subcribe</button>
														</form>
													</div>
												</div>
												<div class="newsletter-info text-center">
													<ul class="pl-120">
														<a href="#"><li class="pl-30">#채은</li></a>
														<a href="#"><li class="pl-30">#지영</li></a>
														<a href="#"><li class="pl-30">#예슬</li></a>
														<a href="#"><li class="pl-30">#효근</li></a>
														<a href="#"><li class="pl-30">#재엽</li></a>

													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="by-brand-product">
								<div class="active-by-brand slick-arrow-2" id="list"></div>
							</div>
						</div>
					</div>
				</div>
				<br> <a class="button medium button-black mb-30 f-right"
					href="#" style="margin-right: 5%;" id="myBtn" onclick=""><span>글쓰기</span>
				</a>

			</div>

			<!-- BY BRAND SECTION END -->
		</section>
		<!-- End page content -->

		<!-- writeForm -->
		<div id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">



				<div class="modal-body" style="padding: 20px; margin-bottom: 5px;">
					<button class="close1" onclick=""
						style="color: black; padding: 10px;">x</button>
					<form action="insertSns">
						<div class="login-account p-30 box-shadow mtb-15">
							<div class="col-lg-4 col-md-6 pb-10">


								<div class="banner-item banner-3">
									<div class="banner-img">
										<a href="#"><img src="img/banner/3.jpg" alt=""></a>
									</div>

									<input type="file" class="mt-10" id="atchId" name="atchId">
								</div>

							</div>

							<input type="hidden" name="snsNo" id="snsNo"> <input
								type="hidden" name="userId" id="userId">
							<textarea name="snsCn" id="snsCn" class="mb-15"
								placeholder="게시글 내용 300자 이하."></textarea>
							<input type="radio" name="hash" id="hash" value="별로애요">별로애요
							<input type="radio" name="hash" id="hash" value="나쁘지 않을것 같아요">나쁘지
							않을것 같아요 <input type="radio" name="hash" id="hash" value="좋아요">좋아요
							<input type="radio" name="hash" id="hash" value="꼭 디시 올거에요">꼭
							디시 올거에요 <input type="hidden" name="area" id="area" value="">
							<input type="hidden" name="atch_Id" id="atchId" value="">
							<input type="hidden" name="likeNocs" id="likeNocs" value=0>

						</div>


						<button class="submit-btn-1 btn-hover-1 f-right" type="submit">complete</button>
					</form>
				</div>
				<div class="modal-footer" style="background-color: #000000;">
					&nbsp;</div>
			</div>

		</div>
		<!-- writeForm -->


		<!-- Communotie Page -->

		<div id="mySns" class="Sns">
			<!-- Modal content -->
			<div class="Sns-content">
				<div class="Sns-body">
					<form action="#">
						<div>
							<span class="ml-10">2023-02-23</span> <img src="img/blog/10.jpg"
								alt="" class="ml-5" id="" style="width: 100%;">

							<h3 class="mt-10 ml-20">개미 같은 인생</h3>
						</div>
					</form>

				</div>
				<div class="Sns-footer"></div>
				<div class="Sns-Cn">
					<div class="writeCn pb-10" style="width: 100%;">

						<span class="mb-120">이 세상 많은 이들 살고는 있지만 개미같이 사는 사람 속은 베짱이
							같이 사는 사람 어떤 이는 일만 하고 수 없이 반복하고 어떤 이는 놀고 먹고 수없이 돈을 벌고 어떤것이 옳은 일인지
							몰라 어떤것이 진실인지를 알 수 없잖아 어렸을 적 배워왔던 이야기들을 모두 이미 지나버린 이야기들 뿐일까 사람들은
							모두 알고는 있지 개미와 베짱이의 이야기들을 하지만 지금은 얘기가 달라 베짱이의 세상이 되버린걸</span>
					</div>
				</div>
				<div class="Sns-footer" style="background-color: #000000;">
					<h3 class="text-white mb-0" style="opacity: 70%;">${id}
						@gogu.ma</h3>
				</div>
			</div>

		</div>

		<!--  -->
		<script th:inline="javascript">
		
		     

		        $.ajax({
		            url: "/getSnsList",		// 데이터를 가져올 경로 설정
		            type: "get",		// 데이터를 가져오는 방식
		            success: function(data){	// 데이터를 가져왔을때 동작. 매개변수로 data 입력
		                alert("연결성공");
		              
		           
		            }
		        }) 	
		   
		</script>


	</article>


</body>
</html>