<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout">

<head>
<style>
.padding {
	padding-bottom: 50px;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
	}
	* {
        font-family : 'S-CoreDream-3Light'; 
    }
</style>
<meta charset="UTF-8">
<title>LAYOUT</title>
<link rel="shortcut icon" type="image/x-icon"
	href="img/icon/favicon.png">

<!-- All CSS Files -->
<!-- Bootstrap fremwork main css -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Nivo-slider css -->
<link rel="stylesheet" href="/lib/css/nivo-slider.css">
<!-- This core.css file contents all plugings css file. -->
<link rel="stylesheet" href="/css/core.css">
<!-- Theme shortcodes/elements style -->
<link rel="stylesheet" href="/css/shortcode/shortcodes.css">
<!-- Theme main style -->
<link rel="stylesheet" href="/style.css">
<!-- Responsive css -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- User style -->
<link rel="stylesheet" href="/css/custom.css">
<!-- Style customizer (Remove these two lines please) -->
<link rel="stylesheet" href="/css/style-customizer.css">
<link href="#" data-style="styles" rel="stylesheet">

<!-- Placed JS at the end of the document so the pages load faster -->
<!-- Modernizr JS -->
<!-- <script src="js/vendor/modernizr-3.11.2.min.js"></script> -->
<!-- jquery latest version -->
<script src="js/vendor/jquery-3.6.0.min.js"></script>
<!-- <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script> -->
<!-- Bootstrap framework js -->
<script src="js/bootstrap.bundle.min.js"></script>
<!-- jquery.nivo.slider js -->
<script src="lib/js/jquery.nivo.slider.js"></script>
<!-- All js plugins included in this file. -->
<script src="js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="js/main.js"></script>


</head>


<!-- 레이아웃에 담길 본문 content 링크 -->
<body>
	<!-- 헤더 -->
	<th:block th:replace="layouts/header :: headerFragment"></th:block>
	<div class=padding></div>
	<div class="wrapper">
		<!-- Start page content -->
		<div id="page-content" class="page-wrapper section">
			<!-- SECTION START -->
			<div class="shop-section mb-80">
				<div class="container">
					<div class="row">
						<!-- ▶ 컨텐츠 적는 공간! ((타임리프))-->
						<div class="col-lg-9 order-lg-2 order-1">
							<div layout:fragment="myContent"></div>
						</div>
						<div class="col-lg-3 order-lg-1 order-2">
							<!-- ▶ 사이드바입니다 -->
							<aside class="widget widget-categories box-shadow mb-30">
								<h6 class="widget-title border-left mb-20">마이페이지</h6>
								<div id="cat-treeview" class="product-cat">
									<ul>
										<li class="open"><a href="#">내정보</a>
											<ul>
												<li><a href="myInfo">내 정보 수정</a></li>
												<li><a href="myArea">우리 동네 설정</a></li>
												<li><a href="myCoupon">포인트/쿠폰 조회</a></li>
												<li><a href="attend">출석이벤트</a></li>
												<li><a href="myAct">결제계좌정보</a></li>
											</ul></li>
										<li class="closed"><a href="#">나의 거래</a>
											<ul>
												<li class="closed"><a href="#">중고거래</a>
													<ul>
														<li><a href="#">판매내역</a></li>
														<li><a href="#">구매내역</a></li>
													</ul></li>
												<li class="closed"><a href="#">경매</a>
													<ul>
														<li><a href="#">주최경매</a></li>
														<li><a href="#">참여경매</a></li>
													</ul></li>
												<li><a href="#">중고거래가계부</a></li>
												<li><a href="#">거래후기</a></li>
											</ul></li>
										<li class="closed"><a href="#">동네생활</a>
											<ul>
												<li><a href="#">나의 글/댓글</a></li>
												<li><a href="#">내가 좋아요한 글</a></li>
											</ul></li>
										<li class="closed"><a href="#">동네가게</a>
											<ul>
												<li><a href="#">나의예약</a></li>
												<li><a href="#">1/N 정산하기</a></li>
												<li><a href="#">나의 예약 후기</a></li>
												<li><a href="#">단골가게</a></li>
											</ul></li>
										<li class="closed"><a href="#">나의 비즈니스</a>
											<ul>
												<li><a href="#">비즈니스 관리</a></li>
											</ul></li>
										<li class="closed"><a href="#">기타</a>
											<ul>
												<li><a href="#">고객센터</a></li>
												<li><a href="#">나의 문의사항</a></li>
												<li><a href="#">친구초대</a></li>
											</ul></li>
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<div class=padding></div>
<!-- 푸터 -->
<th:block th:replace="layouts/footer :: footerFragment"></th:block>







</html>