<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{biz/slide/slide}">

<body>

	<div layout:fragment="bizContent">
		<div class="row">

			<div class="col-lg-12">
				<!-- Tab panes -->
				<div class="tab-content">
					<!-- shopping-cart start -->
					<div class="tab-pane active" id="shopping-cart">
						<div class="shopping-cart-content">
							<form action="#">

								<div class="row">
									<div class="col-lg-12">
										<div class="section-title text-start mb-20">
											<h2 class="uppercase">후기 관리</h2>
											<h6>고객들의 소리를 들어보세요</h6>
										</div>
									</div>
								</div>
								<hr>

								<div class="row">
									<div class="col-md-12">

										<div class="table-content table-responsive mb-30">
											<table class="text-center">
												<thead>
													<tr>
														<th style="width: 5%;">번호</th>
														<th style="width: 20%;">글쓴이</th>
														<th style="width: 85%">후기 미리보기</th>
													</tr>
												</thead>
												<tbody>
													<!-- tr -->
													<tr id="modalTr">
														<td class="">1</td>
														<td class="">도리눈아</td>
														<td class="">리뷰 많아서 와봤는데 만족하고 갑니당...</td>
													</tr>
													<!-- tr -->
													<tr>
														<td class="">2</td>
														<td class="">폴눈아</td>
														<td class="">존맛탱 반박시 맛알못ㅇㅈ?...</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>

								<!-- 페이지번호 -->
								<div class="row">
									<div class="col-lg-12">
										<!-- shop-pagination start -->
										<ul class="shop-pagination box-shadow text-center ptblr-10-30">
											<li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
											<li><a href="#">01</a></li>
											<li><a href="#">02</a></li>
											<li><a href="#">03</a></li>
											<li><a href="#">...</a></li>
											<li><a href="#">05</a></li>
											<li class="active"><a href="#"><i
													class="zmdi zmdi-chevron-right"></i></a></li>
										</ul>
										<!-- shop-pagination end -->
									</div>
								</div>

							</form>
						</div>
					</div>
					<!-- shopping-cart end -->

				</div>
			</div>

		</div>
		<!-- Body main wrapper end -->

		<!-- shop 05 모달창 -->
		<div id="shopModal" class="shopmodal">
			<div class="shopmodal-content">
				<span class="close">&times;</span>

				<div class="row">
					<div class="blog-desc">
						<div class="row">
							<div class="col-lg-10">
								<div class="reviews-tab-desc">
									<div class="media mt-30">
										<div class="media-left">
											<a href="#"><img class="media-object"
												src="img/author/1.jpg" alt="#"></a>
										</div>
										<div class="media-body mt-15">
											<h5>도리눈아</h5>
											<p class="mb-10 f-left">두류동</p>
											<p class="mb-10 f-left">&nbsp;/&nbsp;</p>
											<p class="mb-10 f-right">2일전</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 mt-50">
								<a class="button extra-small button-white mb-20" href="#"><span>신고하기</span>
								</a>
							</div>
						</div>
						<hr>

						<p>생각보다 문어가 엄청 커요~ 싱싱하고 가리비도 주문했는데 실하네용ㅎㅎ 다음에도 주문하겠습니다</p>
						<div class="mb-20">
							<div class="pull-right">
								<ul class="reply-delate">
									<li><a href="#">친절해요</a></li>
									<li>/</li>
									<li><a href="#">가격이싸요</a></li>
									<li>/</li>
									<li><a href="#">만족스</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="blog-image">
							<a href="#"><img src="img/product-2/1.jpg" alt=""
								width="150px"></a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- 모달 끝 -->

	</div>
</body>

</html>