<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.deal.mapper.DealMapper">

	<select id="getDeal"
			parameterType="string"
			resultType="DealVO">
	select *
		from deal
		where dl_no = #{dlNo}
	</select>

	<select id="dealListSelect" 
			parameterType="com.goguma.deal.vo.DealVO"
			resultType="com.goguma.deal.vo.DealVO">
	select * from (select rownum rn,a.* from(
			SELECT *
			FROM DEAL
	<![CDATA[
		) a where rownum <= #{last} )b where rn >= #{first}
		]]>	
	</select>
	
	<select id="getcountTotal" 
			resultType="int">
		SELECT COUNT(*)
		FROM DEAL
	</select>
	
	<insert id="insertDeal"
			parameterType="com.goguma.deal.vo.DealVO">
	<selectKey keyProperty="dlNo" resultType="int"
			order="BEFORE">
			SELECT
			CASE WHEN MAX(dl_no) IS NULL THEN 1 ELSE
			MAX(dl_no) + 1 END as dlNo
			FROM deal
		</selectKey>		
	insert into deal (
		dl_no,
		dl_ttl,
		dl_cn,
		ctgry,
		dl_prc,
		area,
		nego_yn
	) values (
		#{dlNo},
		#{dlTtl},
		#{dlCn},
		#{ctgry},
		#{dlPrc},
		#{area},
		#{negoYn}
	)	
	</insert>
	
	<insert id="deleteDeal"
			parameterType="string">
		DELETE FROM DEAL
		WHERE ntsl_id = #{ntslId}
	</insert>
	
	<update id="updateDeal"
			parameterType="com.goguma.deal.vo.DealVO">
		update deal
		   set dl_no = #{dlNo},
			   ntsl_id = #{ntslId},
			   prchs_id = #{prchsId},
			   dl_ymd = #{dlYmd},
			   dl_prc = #{dlPrc}  
		WHERE ntsl_id = #{ntslId}	
	</update>
	
	<update id="dealHitUpdate">
		UPDATE DEAL
		SET INQ_CNT = INQ_CNT + 1
		WHERE DL_NO = #{dlNo}
	</update>
</mapper>