<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{manage/slide/slide}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="ManageContent">
		<div id='wrap'>

			<div class="container-fluid">


				<!-- Page Heading -->
				<h1 class="h3 mb-2 text-gray-800 mt-15">회원게시글관리</h1>
				<p class="mb-4">이곳은 고구마켓의 모든 게시글을 관리곳입니다.</p>
				<!-- DataTales Example -->
				<hr class="sidebar-divider">
				<div class="card shadow mb-4">

					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">
							게시글<select class="f-right">
								<option>중고거래</option>
								<option>경매</option>
								<option>동네</option>
								<option>동네생활</option>
							</select>
						</h6>

					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>회원가입 날짜</th>
										<th>아이디</th>
										<th>이름</th>
										<th>문의</th>
										<th>신고</th>
										<th>상세정보</th>
										<th>회원 상태</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Name</th>
										<th>Position</th>
										<th>Office</th>
										<th>Age</th>
										<th>Start date</th>
										<th>Salary</th>
									</tr>
								</tfoot>
								<tbody>
									<tr>
										<td>Tiger Nixon</td>
										<td>System Architect</td>
										<td>Edinburgh</td>
										<td>61</td>
										<td>2011/04/25</td>
										<td>$320,800</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<hr class="sidebar-divider">
				<div class="card shadow mb-4">

					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">
							답글<select class="f-right">
								<option>중고거래</option>
								<option>경매</option>
								<option>동네</option>
								<option>동네생활</option>
							</select>
						</h6>

					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>회원가입 날짜</th>
										<th>아이디</th>
										<th>이름</th>
										<th>문의</th>
										<th>신고</th>
										<th>상세정보</th>
										<th>회원 상태</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Name</th>
										<th>Position</th>
										<th>Office</th>
										<th>Age</th>
										<th>Start date</th>
										<th>Salary</th>
									</tr>
								</tfoot>
								<tbody>
									<tr>
										<td>Tiger Nixon</td>
										<td>System Architect</td>
										<td>Edinburgh</td>
										<td>61</td>
										<td>2011/04/25</td>
										<td>$320,800</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-white">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright &copy; Your Website 2020</span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->



	</div>







</body>
</html>