<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">


<body>
	<article layout:fragment="content">
		<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

		<!-- Body main wrapper start -->
		<div class="wrapper">
			<!-- Start page content -->
			<section id="page-content" class="page-wrapper section">

				<div class="col-lg-3 order-lg-1 order-2" style="margin: auto;">
					<!-- widget-search -->
					<aside class="widget-search mb-30">
						<form action="#">
							<input type="text" placeholder="Search here...">
							<button type="submit">
								<i class="zmdi zmdi-search"></i>
							</button>
						</form>
						<span style="float: right;">실검들어갈 자리입니당~</span>
					</aside>
				</div>
				<!-- FEATURED PRODUCT SECTION START -->
				<div class="featured-product-section mb-50">
					<a href="auctInsertForm" id="addAuct"
						style="position: fixed; bottom: 100px; right: 100px; border: none; border-radius: 16px; background: royalblue; color: white; padding: 12px; font-weight: bold; box-shadow: 0px 5px 15px gray; cursor: pointer;">
						상품 등록
					</a>
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title text-center mb-50">
									<h2 class="uppercase">Recommend Product</h2>
									<h6>현재 인기있는 경매 상품들입니다</h6>
								</div>
								<div class="featured-product">
									<div class="active-featured-product slick-arrow-2">

										<!-- product-item start -->
										<div class="col-lg-3 col-md-4" th:each="auct : ${lists}">
											<a th:href="@{/auctSelect/{auctNo}(auctNo = ${auct.auctNo})}">
												<div class="product-item">
													<div class="product-img">
														<img src="img/product/1.jpg" alt="" />
													</div>
													<div class="product-info">

														<h6 class="product-title">
															<a th:text="${auct.auctTtl}"></a>
														</h6>
														<h3 class="pro-price" th:text="현재가 + ${auct.quickPrc}"></h3>
														<h5 align="left" th:text="${auct.userId}"></h5>
														<ul class="action-button">
															<li><a href="#" title="Wishlist"><i
																		class="zmdi zmdi-favorite"></i></a></li>
															<li><a href="#" data-bs-toggle="modal"
																	data-bs-target="#productModal" title="Quickview"><i
																		class="zmdi zmdi-zoom-in"></i></a></li>
															<li><a href="#" title="Compare"><i
																		class="zmdi zmdi-refresh"></i></a></li>
															<li><a href="#" title="Add to cart"><i
																		class="zmdi zmdi-shopping-cart-plus"></i></a>
															</li>
														</ul>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product-tab-section mb-50">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title text-center mb-0">
									<h2 class="uppercase">Auction product</h2>
									<h6>경매가 진행중인 품목들을 확인하세요</h6>
								</div>
								<!-- 정렬 -->
								<div class="product-tab pro-tab-menu pro-tab-menu-2 text-center">
									<!-- Nav tabs -->
									<ul class="nav">
										<li><a class="active" href="#popular-product" data-bs-toggle="tab">인기순</a></li>
										<li><a href="#new-arrival" data-bs-toggle="tab">최근순</a></li>
										<li><a href="#best-seller" data-bs-toggle="tab">조회량순</a></li>
										<li><a href="#special-offer" data-bs-toggle="tab">관심순</a></li>
									</ul>
								</div>
								<!-- Tab panes -->
								<div class="tab-content">

									<!-- popular-product start -->
									<div id="popular-product" class="tab-pane active show" role="tabpanel">
										<div class="row">

											<!-- product-item start -->
											<div class="col-lg-3 col-md-4" th:each="auct : ${lists}">
												<a th:href="@{/auctSelect/{auctNo}(auctNo = ${auct.auctNo})}">
													<div class="product-item">
														<div class="product-img">
															<img src="img/product/7.jpg" alt="" />

														</div>
														<div class="product-info">
															<h6 class="product-title">
																<a th:text="${auct.auctTtl}"></a>
															</h6>

															<h3 class="pro-price" th:text="현재가 + ${auct.quickPrc}"></h3>
															<h5 align="left" th:text="${auct.userId}"></h5>
															<ul class="action-button">
																<li><a href="#" title="Wishlist"><i
																			class="zmdi zmdi-favorite"></i></a></li>
																<li><a href="#" data-bs-toggle="modal"
																		data-bs-target="#productModal"
																		title="Quickview"><i
																			class="zmdi zmdi-zoom-in"></i></a></li>
																<li><a href="#" title="Compare"><i
																			class="zmdi zmdi-refresh"></i></a></li>
																<li><a href="#" title="Add to cart"><i
																			class="zmdi zmdi-shopping-cart-plus"></i></a>
																</li>
															</ul>
														</div>
													</div>
												</a>
											</div>
											<!-- product-item end -->

										</div>
									</div>
									<!-- special-offer end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- PRODUCT TAB SECTION END -->

		<!-- End page content -->

		<!-- Body main wrapper end -->


		<!-- Placed JS at the end of the document so the pages load faster -->

		<!-- jquery latest version -->
		<script src="js/vendor/jquery-3.6.0.min.js"></script>
		<script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
		<!-- Bootstrap framework js -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<!-- jquery.nivo.slider js -->
		<script src="lib/js/jquery.nivo.slider.js"></script>
		<!-- All js plugins included in this file. -->
		<script src="js/plugins.js"></script>
		<!-- Main js file that contents all jQuery plugins activation. -->
		<script src="js/main.js"></script>
	</article>
</body>

</html>